name: validati10
description: A comprehensive validator package for data formats including phone numbers, FIN codes, vehicle plates, and postal codes.
version: 2.0.5
homepage: https://github.com/flutterist0/validati10
repository: https://github.com/flutterist0/validati10
issue_tracker: https://github.com/flutterist0/validati10/issues

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  assets:
    - assets/rules.json
