name: validati10
description: A comprehensive validator package for Azerbaijan-specific data formats including phone numbers, FIN codes, vehicle plates, and postal codes.
version: 1.0.0
homepage: https://github.com/flutterist0/azerbaijan_utils
repository: https://github.com/flutterist0/azerbaijan_utils
issue_tracker: https://github.com/flutterist0/azerbaijan_utils/issues

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0